<nav id="myNavbar"
     class="navbar navbar-default navbar-fixed-top hidden-xs "
     data-_menu1-start="top:-60px" 
     data-_menu2-start="top:0px"
     role="navigation" style="top:-60px;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="fa fa-bar"></span>
                <span class="fa fa-bar"></span>
                <span class="fa fa-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li style="margin: 0px 5px;">
                    
                    <a id="homelinks" title="Home" href="#slide-home" class="btn-lg">
                        <i class="fa fa-home"></i>
                        <span>Accueil</span>
                    </a>
                </li>
                <li style="margin: 0px 5px;">
                    <a id="photolinks" title="Galerie" href="#slide-titre1"  class="btn-lg ">
                        <i class="fa fa-camera-retro"></i>
                        <span>Galerie</span>
                    </a>
                </li>
                
                <li style="margin: 0px 5px;">
                    <a id="maplinks" title="Bréhat" href="#slide-titre3" class="btn-lg ">
                        <i class="fa fa-globe"></i>
                        <span>Bréhat</span>
                    </a>
                </li>
                <li style="margin: 0px 5px;">
                    <a id="calendarlinks" title="Réservations" href="#slide-titre4"  class="btn-lg ">
                        <i class="fa fa-calendar"></i>
                        <span>Réservations</span>
                    </a>
                </li>
                <li style="margin: 0px 5px;">
                    <a id="contactlinks" title="Contact" href="#slide-contact"  class="btn-lg ">
                        <i class="fa fa-envelope"></i>
                        <span>Contact</span>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>